{% extends 'base.html' %}
{% load static %}

{% block page_content %}
<h1 class="container">Todos</h1>
<div class="container row md-4">
    <p>
        <button>
            <a href="todo/add/"></a>
        </button>
    </p>

</div>
<div class="row md-4">
    {% for todo in to_dos %}
    <div class="col-md-4">
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">{{ todo.title }}</h5>
                <p class="card-text">{{ todo.description }}</p>
                <p class="card-text">{{ todo.completed }}</p>
                <p class="card-text">{{ todo.created_on }}</p>
                <a href=""
                   class="btn btn-primary p-2">
                    Edit
                </a>
                <a href=""
                   class="btn btn-primary p-2">
                    Delete todo
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

