{% extends 'base.html' %}
{% block page_content %}
<body>
<div class="container mt-2">
    <div class="row">
        <div class="col-sm-6 md-7">
            <div class="card mb-2">
                <div class="card-body">
                    <h2 class="card-title">Stock tracker<i class="bi bi-bar-chart-line-fill " width="32"></i></h2>
                    <div class="row">
                        <div class="col-12">
                            <p>I build this stocktracker app to learn database operations. To get current stock data, I
                                linked this to
                                the free API from Yahoo finance. It's only possible to do 100 API calls a day. You will
                                see
                                an error
                                message whenever the api calls are exceeded.

                                <br/><br/>You can login with username: <b>test.user</b> and password: <b>Seemywebsite123!</b>
                                <br/><br/>Current features are:
                            <ol>
                                <li>Basic CRUD database operation</li>
                                <li>Adding portfolio's linked to user</li>
                                <li>Only show portfolio's linked to user</li>
                                <li>Show general KPI's in portfolio overview</li>
                                <li>KPI's calculated based on positions in portfolio</li>
                                <li>Adding position to portfolio</li>
                                <li>API connection with YahooFinance to get live stock data</li>
                                <li>Chart.js integration for visual representation of portfolio metrics</li>
                                <li>Monthly profit chart in portfolio overview is linked to the REST API to showcase
                                    REST API
                                </li>
                            </ol>
                            </p>
                        </div>
                    </div>
                    <p class="card-text"></p>
                    {% if user.is_authenticated %}
                    <a class="btn btn-primary" href="{% url 'stocktracker' %}">Go to stock tracker</a>
                    {% else %}
                    <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card mb-2">
                <div class="card-body">
                    <h2 class="card-title">Real estate valuation tool<i class="bi bi-bar-chart-line-fill " width="32"></i></h2>
                    <div class="row">
                        <div class="col-12">
                            <p>This idea came from the fact that most real estate agents offer a so-called "free" valuation for your house. In the end it always came down to that you still needed to send a request for a valuation to them, and then they would come by and valuate your house.

                            <br/><br/>To me this felt like a chance for them to sale additionally services like a proposal to sale your house. I just want to know roughly what my house is worth, so that was the start of this whole idea.

                                <br/><br/>Current features are:
                            <ol>
                                <li>Scrape data from funda.nl for sold houses</li>
                                <li>Save scraped data to database via pipeline</li>
                                <li>Get postal code range from external API tool called http://postcode.vanvulpen.nl/</li>
                                <li>Search for properties in postal code range based on radius (wip)</li>
                                <li>Calculate mean price of found properties</li>
                                <li>Ability to change the price based on user input bid percentage (wip)</li>
                            </ol>
                            </p>
                        </div>
                    </div>
                    <p class="card-text"></p>
                    <a class="btn btn-primary" href="{% url 'real_estate_valuation' %}">Go to valuation tool</a>
                </div>
        </div>
    </div>
</div>
</body>
{% endblock %}
