{% extends 'base.html' %}
{% block page_content %}
{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="card border-0 bg-light mt-4">
                <div class="card-body text-center">
                    <div class="col-sm-4">
                        <h3>{{ portfolio.portfolio_name }}</h3>
                    </div>
                </div>
                <div class="col-sm-6">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#portfolio_label">
                        Delete portfolio
                    </button>
                    <!-- Modal for deleting the portfolio -->
                    <div class="modal fade" id="portfolio_label" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="portfolio_label_modal_label">{{ portfolio_name
                                        }}</h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true"></span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form name="portfolio_form" method="post">
                                        {% csrf_token %}
                                        <p>
                                            Are you sure you want to delete the portfolio?
                                        </p>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                No
                                            </button>
                                            <input class="btn btn-primary" name="delete_button" type="submit"
                                                   value="Yes"/>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="btn-group">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#add_position_modal">
                            Add position
                        </button>
                        <!-- Modal for adding position -->
                        <div class="modal fade" id="add_position_modal" tabindex="" role="dialog"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="add_position_modal_'label">{{ portfolio_name
                                            }}</h5>
                                        <button type="button" class="close" data-bs-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true"></span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <p>
                                                    Stock ticker:
                                                </p>
                                                <p class="pt-2">
                                                    Buy price:
                                                </p>
                                                <p class="pt-2">
                                                    Quantity:
                                                </p>
                                                <p class="pt-2">
                                                    Market:
                                                </p>
                                            </div>
                                            <div class="col-sm-4">
                                                <form name="position_form" method="post">
                                                    {% csrf_token %}
                                                    <p>
                                                        {{ position_form.ticker_name }}
                                                    </p>
                                                    <p>
                                                        {{ position_form.buy_price }}
                                                    </p>
                                                    <p>
                                                        {{ position_form.quantity }}
                                                    </p>
                                                    <p>
                                                        {{ position_form.market }}
                                                    </p>
                                                    <div class="modal-footer">
                                                        {% csrf_token %}
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">
                                                            No
                                                        </button>
                                                        <input class="btn btn-primary" name="add_position_button"
                                                               type="submit"
                                                               value="Yes"/>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-secondary" href="/database-projects-stocktracker">Portfolio overview</a>
                    </div>
                </div>
                <div class="pt-2">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                            {{ message }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-6  mt-4">
            <div class="card border-0 bg-light m-1">
                <div class="card-body text-center">
                    <div class="row">
                        <div class="col-4 text-start d-none d-sm-block" style="width: 50%;">
                    <span hidden id="portfolioID"> {{ portfolio.id|json_script:"portfolio.id" }}</span>
                    <span hidden id="amountOfPositions"> {{ portfolio.total_positions|json_script:"portfolio.total_positions" }}</span>
                    <span hidden id="portfolioDailyReturn">{{ portfolio.total_profit|json_script:"portfolio.total_profit" }}</span>
                    <span hidden id="portfolioOveralReturn"> {{ portfolio.total_profit|json_script:"portfolio.total_profit" }}</span>
                    <script>
                    var portfolioId = JSON.parse(document.getElementById("portfolioID").textContent);
                    var portfolioAttributes = {};
                    portfolioAttributes['id'] = portfolioId
                    portfolioAttributes['data'] = {};
                    portfolioAttributes['randomNumber'] = () => Math.floor(Math.random() * (235 - 52 + 1) + 52);

                    function rgbToHex(r, g, b) {
                        return "#" + ((1 << 24) + (r << 16) + (g << 8) + b).toString(16).slice(1);
                    }
                    countPositions = JSON.parse(document.getElementById("amountOfPositions").textContent);

                    portfolioAttributes.data['barColors'] = [];
                    // var barColors_{{ portfolio.pk }} = [];
                    for (var i = 0; i < countPositions; i++) {
                        randomGeneratedColor = rgbToHex(portfolioAttributes.randomNumber(),portfolioAttributes.randomNumber(), portfolioAttributes.randomNumber());
                        while (portfolioAttributes.data.barColors.includes(randomGeneratedColor)) {
                            randomGeneratedColor = rgbToHex(randomNum(), randomNum(), randomNum());
                        }
                        portfolioAttributes.data.barColors.push(randomGeneratedColor);
                    }
                    portfolioAttributes.data['configPieChart'] = {
                        type: 'pie',
                        data: {
                            datasets: [{
                                data: {{ portfolio.data_for_chart_array|safe }},
                                backgroundColor: portfolioAttributes.data.barColors,
                                label: 'Stock ticker'
                            }],
                            labels: {{ portfolio.labels_array|safe }}
                        },
                        options: {
                            responsive: true
                        }
                    };


                    portfolioAttributes.data['configLineChart'] = {
                        type: 'line',
                        data: {
                            datasets: [{
                                data: {{ portfolio.monthly_profit|safe }},
                                backgroundColor: portfolioAttributes.data.barColors,
                                fill: false,
                                label: 'Profit p.m.'
                            }],
                            labels: {{ labels_monthly|safe }}
                        },
                        options: {
                            responsive: true
                        }
                    };

                    window.addEventListener('load',  function() {
                        var ctx1 = document.getElementById('pie-chart{{ portfolio.id }}').getContext('2d');
                        window.myPie = new Chart(ctx1, portfolioAttributes.data.configPieChart);
                         var ctx2 = document.getElementById('barChart{{ portfolio.id }}').getContext('2d');
                        window.myBar = new Chart(ctx2, portfolioAttributes.data.configLineChart);
                    });
                    </script>
                    <canvas id="pie-chart{{ portfolio.id }}"></canvas>
                </div>
                    <div class="col-4 text-end d-none d-sm-block" style="width: 50%;">
                        <canvas id="barChart{{ portfolio.pk }}"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="card border-0 bg-success text-white portfolioDetailsKpiCard">
                <div class="card-body" id="dailyReturnDiv">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>€ {{ portfolio.total_profit }}</h3>
                            <h6>Performance today</h6>
                        </div>
                        <div class="col-sm-6 mt-3 text-center">
                            <h2> {{ portfolio.total_profit_percentage }} %</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card border-0 bg-success text-white portfolioDetailsKpiCard"  >
                <div class="card-body" id="overalReturnDiv">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>€ {{ portfolio.total_profit }}</h3>
                            <h6>Overal return</h6>
                        </div>
                        <div class="col-sm-6 mt-3 text-center">
                            <h2> {{ portfolio.total_profit_percentage }} %</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card border-0 bg-light portfolioDetailsKpiCard">
                <div class="card-body">
                    <h3>
                        € {{ portfolio.total_amount_invested }}
                    </h3>
                    <h6>
                        Total amount invested
                    </h6>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card border-0 bg-light portfolioDetailsKpiCard">
                <div class="card-body">
                    <h3>
                        € {{ portfolio.total_amount_invested|add:portfolio.total_profit }}
                    </h3>
                    <h6>
                        Portfolio value
                    </h6>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card border-0 bg-light portfolioDetailsKpiCard">
                <div class="card-body">
                    <h3>
                        € 0
                    </h3>
                    <h6>
                        Dividends
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row pe-4 stockTable">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Info</th>
                    <th scope="col">Stock ticker</th>
                    <th scope="col" class="text-end">Price bought</th>
                    <th scope="col" class="text-end">Quantity</th>
                    <th scope="col" class="text-end">Amount invested</th>
                    <th scope="col" class="text-end">Current market price</th>
                    <th scope="col" class="text-end">Market</th>
                    <th scope="col" class="text-end">Profit</th>
                    <th scope="col" class="text-end">Profit in %</th>
                </tr>
                </thead>
                <tbody>
                {% for position in positions %}
                <tr>
                    <td>
                        <a class="btn" href="https://finance.yahoo.com/quote/{{ position.ticker_name }}/"
                           target="_blank" rel="noopener">?</a>
                    </td>
                    <td class="pt-3">{{ position.ticker_name }}</td>
                    <td class="text-end pt-3">{{ position.buy_price }}</td>
                    <td class="text-end pt-3">{{ position.quantity }}</td>
                    <td class="text-end pt-3">{{ position.amount_invested }}</td>
                    <td class="text-end pt-3">{{ position.current_market_price }}</td>
                    <td class="text-end pt-3">{{ position.market }}</td>
                    <td class="text-end pt-3">{{ position.position_profit }}</td>
                    <td class="text-end pt-3">{{ position.position_profit_in_percentage }} %</td>
                    <td class="text-end">
                        <div class="btn-group">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#position_label_{{ position.pk }}">
                                DEL
                            </button>
                            <!-- Modal for deleting the position -->
                            <div class="modal fade" id="position_label_{{ position.pk }}" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="position_label_modal_label">{{
                                                position.ticker_name }}</h5>
                                            <button type="button" class="close" data-bs-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true"></span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form name="portfolio_form" method="post">
                                                {% csrf_token %}
                                                <p>
                                                    <br/>Are you sure you want to delete the position?
                                                </p>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">
                                                        No
                                                    </button>
                                                    <input class="btn btn-primary" name="delete_position_button"
                                                           type="submit"
                                                           value="Yes"/>
                                                    <input type='hidden' value='{{ position.id }}' name='id'/>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal for editing the position-->
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                                    data-bs-target="#edit_position_label_{{ position.pk }}">
                                EDIT
                            </button>
                            <div class="modal fade" id="edit_position_label_{{ position.pk }}" tabindex="-1"
                                 role="dialog"
                                 aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="edit_position_modal_label_{{ position.pk }}">{{
                                                position.ticker_name }}</h5>
                                            <button type="button" class="close" data-bs-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true"></span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-4">
                                                    <p>
                                                        Stock ticker:
                                                    </p>
                                                    <p class="pt-2">
                                                        Buy price:
                                                    </p>
                                                    <p class="pt-2">
                                                        Quantity:
                                                    </p>
                                                    <p class="pt-2">
                                                        Market:
                                                    </p>
                                                </div>
                                                <div class="col-4">
                                                    <form name="position_form" method="post">
                                                        {% csrf_token %}
                                                        <p>
                                                            {{ position_form.ticker_name }}
                                                        </p>
                                                        <p>
                                                            {{ position_form.buy_price }}
                                                        </p>
                                                        <p>
                                                            {{ position_form.quantity }}
                                                        </p>
                                                        <p>
                                                            {{ position_form.market }}
                                                        </p>
                                                        <div class="modal-footer">
                                                            {% csrf_token %}
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">
                                                                No
                                                            </button>
                                                            <input class="btn btn-primary" name="edit_position_button"
                                                                   type="submit" value="Yes"/>
                                                            <input type='hidden' value='{{ position.id }}' name='id'/>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="col-2">
                                                    <p class="pt-1">
                                                        <b>{{ position.ticker_name }}</b>
                                                    </p>
                                                    <p class="pt-2">
                                                        <b>{{ position.buy_price }}</b>
                                                    </p>
                                                    <p class="pt-2">
                                                        <b>{{ position.quantity }}</b>
                                                    </p>
                                                    <p class="pt-1">
                                                        <b>{{ position.market }}</b>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="{% static 'js/portfolioDetailColorChanger.js' %}"></script>
{% endblock %}
