{% extends 'base.html' %}
{% block page_content %}
{% if user.is_authenticated %}
<body>
<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>
                Welcome to the stocktracker
            </h2>
            <p>This is still work in progress</P>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h2>Select your portfolio</h2>
        </div>
        <div class="col-2">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Add new portfolio
            </button>

            <!-- Modal -->

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form name="portfolio_form" method="post">
                                {% csrf_token %}
                                <p>
                                    {{ portfolio_form }}
                                </p>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                    <input type="submit" value="Submit"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            {% for portfolio in portfolios %}
            <div class="row pt-4">
                <div class="col-2">
                    <a class="btn btn-primary" href="{% url 'portfolio_detail' portfolio.pk%}">{{ portfolio }}</a>
                </div>
                <div class="row">
                    <div class="col-4 pt-2">
                        Total amount invested: {{ portfolio.total_amount_invested }}
                        <br>Positions: {{ portfolio.total_positions }}
                        <br>Profit: {{  portfolio.total_profit }}
                        <br>Profit in %: {{  portfolio.total_profit_percentage }} %
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
{% endif %}
{% endblock %}
