{% extends 'base.html' %}
{% block page_content %}
{% if user.is_authenticated %}
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>
                Welcome to the stocktracker
            </h2>
            <p>I build this stocktracker app to learn database operations. To get current stock data, I linked this to
                the free API from Polygon.io. It's only possible to do 5 API calls per minute. You will see an error
                message whenever the api calls are exceeded.
                <br><br>Current features are:
            <ul>
                <li>Basic CRUD database operation</li>
                <li>Adding portfolio's linked to user</li>
                <li>Only show portfolio's linked to user</li>
                <li>Show general KPI's in portfolio overview</li>
                <li>KPI's calculated based on positions in portfolio</li>
                <li>Adding position to portfolio</li>
                <li>API connection with Polygon.io to get live stock data</li>
            </ul>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <h2>Select your portfolio</h2>
        </div>
        <div class="col-4 text-end">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Add new portfolio
            </button>

            <!-- Modal -->

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form name="portfolio_form" method="post">
                                {% csrf_token %}
                                <p>
                                    {{ portfolio_form }}
                                </p>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                    <input type="submit" value="Submit"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            {% for portfolio in portfolios %}
            <div class="row pt-4">
                <div class="col-6">
                    <a class="btn btn-primary" href="{% url 'portfolio_detail' portfolio.pk%}">{{ portfolio }}</a>
                </div>
                <div class="col-4" style="width: 40%;">
                    <canvas id="pie-chart"></canvas>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
                <script>

                </script>
            </div>
            <div class="row">
                <div class="col-4 pt-2">
                    <b>Total amount invested:</b> {{ portfolio.total_amount_invested }}
                    <br><b>Positions:</b> {{ portfolio.total_positions }}
                    <br><b>Profit:</b> {{ portfolio.total_profit }}
                    <br><b>Profit in %:</b> {{ portfolio.total_profit_percentage }} %
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
{% endif %}
{% endblock %}
