{% extends 'base.html' %}
{% block page_content %}
{% if user.is_authenticated %}
<body>
<div class="container-fluid">
    <div class="row p-2">
        <div class="col-6">
            <h2>Select your portfolio</h2>
        </div>
        <div class="col-4 text-start">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addPortfolioModal">
                Add new portfolio
            </button>

            <!-- Modal -->

            <div class="modal fade" id="addPortfolioModal" tabindex="-1" role="dialog"
                 aria-labelledby="addPortfolioModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addPortfolioLabel">Modal title</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form name="portfolio_form" method="post">
                                {% csrf_token %}
                                <p>
                                    {{ portfolio_form }}
                                </p>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                    <input type="submit" value="Submit"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            {% for portfolio in portfolios %}
            <div class="row p-2">
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="row pt-2">
                            <div class="col-sm-4">
                                <div class="btn-group">
                                    <a class="btn btn-primary" href="{% url 'portfolio_detail' portfolio.pk%}">
                                        Go to {{ portfolio }}</a>
                                    <div class="btn-group" role="group">
                                        <button class="btn btn-light dropdown-toggle" type="button"
                                                id="optionsPortfolioDropdown"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                            Options
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="optionsPortfolioDropdown">
                                            <li><a class="dropdown-item"
                                                   href="/database-projects-stocktracker/portfolio/csv/{{portfolio_id}}">Download
                                                CSV</a></li>
                                            <li><a class="dropdown-item" href="">Download PDF</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% if portfolio.total_positions > 0 %}
                            <div class="row">
                                <!--                            // TODO Fix charts, right now the chart data of the other portfolios are not assigned to the data, this due to line window.myPie = new Chart(ctx1, portfolioAttributes.data.configPieChart); -->
                                <div class="col-4 text-start d-none d-sm-block" style="width: 50%;">
                                    <span hidden id="portfolioID_{{id_for_chart}}"> {{ portfolio_id_for_chart|json_script:"portfolio_id_for_chart" }}</span>
                                    <span hidden id="amountOfPositions_{{id_for_chart}}"> {{ portfolio.total_positions|json_script:"portfolio.total_positions" }}</span>
                                    <script>
                                        var randomNum_{{ portfolio.id_for_chart }} = () => Math.floor(Math.random() * (235 - 52 + 1) + 52);
                                        function rgbToHex(r, g, b) {
                                            return "#" + ((1 << 24) + (r << 16) + (g << 8) + b).toString(16).slice(1);
                                        }
                                        countPositions = JSON.parse(document.getElementById("amountOfPositions_{{portfolio_id_for_chart}}").textContent);

                                        var barColors_{{ portfolio.id_for_chart }} = [];
                                        for (var i = 0; i < countPositions; i++) {
                                            randomGeneratedColor = rgbToHex(randomNum_{{ portfolio.id_for_chart }}(), randomNum_{{ portfolio.id_for_chart }}(), randomNum_{{ portfolio.id_for_chart }}());
                                            while (barColors_{{ portfolio.id_for_chart }}.includes(randomGeneratedColor)) {
                                                randomGeneratedColor = rgbToHex(randomNum(), randomNum(), randomNum());
                                            }
                                            barColors_{{ portfolio.id_for_chart }}.push(randomGeneratedColor);
                                        }
                                        var configPieChart_{{ portfolio.id_for_chart }} = {
                                            type: 'pie',
                                            data: {
                                                datasets: [{
                                                    data: {{ portfolio.data_for_chart_array|safe }},
                                                    backgroundColor: barColors_{{ portfolio.id_for_chart }},
                                                    label: 'Stock ticker'
                                                }],
                                                labels: {{ portfolio.labels_array|safe }}
                                            },
                                            options: {
                                                responsive: true
                                            }
                                        };

                                        var configBarChart_{{ portfolio.id_for_chart }} = {
                                            type: 'line',
                                            data: {
                                                datasets: [{
                                                    data: {{ portfolio.monthly_profit|safe }},
                                                    backgroundColor: barColors_{{ portfolio.id_for_chart }},
                                                    fill: false,
                                                    label: 'Profit p.m.'
                                                }],
                                                labels: {{ labels_monthly|safe }}
                                            },
                                            options: {
                                                responsive: true,
                                            },
                                        };

                                        window.addEventListener('load',  function() {
                                            var ctx1 = document.getElementById('pie-chart_{{ portfolio.id_for_chart }}').getContext('2d');
                                            window.myPie = new Chart(ctx1, configPieChart_{{ portfolio.id_for_chart }});
                                            var ctx2 = document.getElementById('bar-Chart_{{ portfolio.id_for_chart }}').getContext('2d');
                                            window.myBar = new Chart(ctx2, configBarChart_{{ portfolio.id_for_chart }});
                                        });

                                    </script>
                                    <canvas id="pie-chart_{{ portfolio.id_for_chart }}"></canvas>
                                </div>
                                <div class="col-4 text-end d-none d-sm-block" style="width: 50%;">
                                    <canvas id="bar-Chart_{{ portfolio.id_for_chart }}"></canvas>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-sm-4 pt-2">
                                    <b>Total amount invested:</b> {{ portfolio.total_amount_invested }}
                                    <br/><b>Total Positions:</b> {{ portfolio.total_positions }}
                                    <br/><b>Total Profit:</b> {{ portfolio.total_profit }}
                                    <br/><b>Total Profit %:</b> {{ portfolio.total_profit_percentage }} %
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endif %}
{% endblock %}
