{% extends 'base.html' %}
{% block page_content %}
<body>
<div class="row-6 md-7">
    <div class="col md-7">
        <div class="card mb-2">
            <div class="card-body">
                <h1 class="card-title">
                    GEO API
                </h1>
                <p class="card-text">Its' a powerful, real-time IP to geolocation API capable of looking up accurate location data and
                    assessing
                    security threats originating from risky IP addresses. </p>
                <a class="btn btn-primary" href="geo-api/get-ip">Go to Geo api</a>
            </div>
        </div>
    </div>
    <h1 class="">Currency converter</h1>
    <p>Placeholder for currency converter</p>
</div>
</body>a
{% endblock %}