{% extends 'website-projects/real-estate-agent/real_estate_base.html' %}
{% load static %}
{% block page_content %}
<div class="container-fluid px-0">
    <div class="d-none d-md-block" id="realEstateSaleService">
        <img class="img-fluid w-100" src="{% static  'img/placeholder-house.png' %}" alt="Picture hand with keycoard"/>
    </div>
    <div class="container d-none d-md-block">
        <h3 class="text-dark bg-transparent" id="realEstateSaleServiceText">Aankoopmakelaar</h3>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p class="mt-5">
                Een aankoopmakelaar kan in deze tijd voordelig uitpakken. Dat komt doordat de markt enorm snel gaat en als makelaar zijn wij als eerste op de hoogte van het komende aanbod. Zo heb je meer kans op een plek tijdens de bezichtigingsrondes. Maar daarnaast kan het ook veel geld schelen doordat wij samen met jou een woning gaan bezichtigen en beoordelen op de staat van de woning. Hierdoor ben je uiteindelijk onder aan de streep vaak voordeliger uit en sta je niet voor verassingen.
            </p>
        </div>
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col" class="text-center">Aankoopadviesrapport</th>
                        <th scope="col" class="text-center">Aankoopmakelaar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Analyse van de woning</th>
                        <td class="text-center"><i class="bi bi-check2" style="font-size: 20px;"></i></td>
                        <td class="text-center"><i class="bi bi-check2" style="font-size: 20px;"></i></td>
                    </tr>
                    <tr>
                        <th scope="row">Waardebepaling & buurtanalyse</th>
                        <td class="text-center"><i class="bi bi-check2" style="font-size: 20px;"></i></td>
                        <td class="text-center"><i class="bi bi-check2" style="font-size: 20px;"></i></td>
                    </tr>
                    <tr>
                        <th scope="row">Bezichtigingen</th>
                        <td class="text-center"></td>
                        <td class="text-center"><i class="bi bi-check2" style="font-size: 20px;"></i></td>
                    </tr>
                    <tr>
                        <th scope="row">Bouwtechnische staat controleren</th>
                        <td class="text-center"></td>
                        <td class="text-center"><i class="bi bi-check2" style="font-size: 20px;"></i></td>
                    </tr>
                    <tr>
                        <th scope="row">Juridische stukken contoleren</th>
                        <td class="text-center"><i class="bi bi-check2" style="font-size: 20px;"></i></td>
                        <td class="text-center"><i class="bi bi-check2" style="font-size: 20px;"></i></td>
                    </tr>
                    <tr>
                        <th scope="row">Biedingsstrategie</th>
                        <td class="text-center"><i class="bi bi-check2" style="font-size: 20px;"></i></td>
                        <td class="text-center"><i class="bi bi-check2" style="font-size: 20px;"></i></td>
                    </tr>
                    <tr>
                        <th scope="row">Ondersteuning bij onderhandelingen</th>
                        <td class="text-center"></td>
                        <td class="text-center"><i class="bi bi-check2" style="font-size: 20px;"></i></td>
                    </tr>
                    <tr>
                        <th scope="row">Onderhandelingen voeren</th>
                        <td class="text-center"></td>
                        <td class="text-center"><i class="bi bi-check2" style="font-size: 20px;"></i></td>
                    </tr>
                    <tr>
                        <th scope="row">Koopovereenkomst doornemen</th>
                        <td class="text-center"><i class="bi bi-check2" style="font-size: 20px;"></i></td>
                        <td class="text-center"><i class="bi bi-check2" style="font-size: 20px;"></i></td>
                    </tr>
                    <tr>
                        <th scope="row">Termijnbewaking</th>
                        <td class="text-center"><i class="bi bi-check2" style="font-size: 20px;"></i></td>
                        <td class="text-center"><i class="bi bi-check2" style="font-size: 20px;"></i></td>
                    </tr>
                    <tr>
                        <th scope="row">Vraagbaak tijdens het hele traject</th>
                        <td class="text-center"></td>
                        <td class="text-center"><i class="bi bi-check2" style="font-size: 20px;"></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
