{% extends 'website-projects/real-estate-agent/real_estate_base.html' %}
{% load static %}
{% block page_content %}
<div class="container-fluid px-0">
    <div class="" id="realEstateSaleService">
        <img class="img-fluid w-100" src="{% static  'img/placeholder-house.png' %}" alt="Picture hand with keycoard"/>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>
                Placeholder0
            </h3>
            <p>
                Lorum ipsum
            </p>
        </div>
    </div>
</div>
{% endblock %}
