{% extends 'website-projects/real-estate-agent/real_estate_base.html' %}
{% load static %}
{% block page_content %}
<div class="container-fluid px-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-start mt-2">
                <h5>
                    Valuation tool
                </h5>
            </div>
        </div>
        <div class="col-sm-8">
            <p>
                This idea came from the fact that most real estate agents offer a so-called "free" valuation for
                your house. In the end it always came down to that you still needed to send a request for a valuation to
                them, and then they would come by and valuate your house.
            </p>
            <p>
                To me this felt like a chance for them to sale
                additionally services like a proposal to sale your house. I just want to know roughly what my house is
                worth,
                so that was the start of this whole idea.
            </p>
            <p>
                Features:
                <br/>
            </p>
        </div>
        <div class="row">
            <form method="post" id="searchAddressForm">
                {% csrf_token %}
                <div class="" id="searchBarValuation">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="addressSearchBar" name="searchAddressInput"/>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-3">
                        <label for="street" class="form-label">Straat</label>
                    </div>
                    <div class="col-sm-1">
                        <label for="houseNumber" class="form-label">Huisnummer</label>
                    </div>
                    <div class="col-sm-2">
                        <label for="postcode" class="form-label">Postcode</label>
                    </div>
                    <div class="col-sm-3">
                        <label for="locality" class="form-label">Stad</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <input type="text" id="street" name="street" size="30"/>
                    </div>
                    <div class="col-sm-1">
                        <input type="text" id="houseNumber" name="houseNumber" size="9" required/>

                    </div>
                    <div class="col-sm-2">
                        <input type="text" id="postcode" name="postcode" required/>

                    </div>
                    <div class="col-sm-3">
                        <input type="text" id="locality" name="locality">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 mt-3">
                        <label for="nla" class="form-label">Woonoppervlakte m²</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <input type="text" id="nla" name="nla" size="10" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 mt-3">
                        <label for="filterSubmitButton" class="form-label"></label>
                        <button type="submit" class="btn btn-primary" id="filterSubmitButton"
                                name="searchAddressSubmitButton">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
            {% if final_calculated_mean_price > 0 %}
            <div class="col-sm-12 text-center">
                <p>Geschatte marktwaarde op basis van objecten in de straal van 2000m van postcode {{ user_postal_code }}</p>
                <p>
                     € {{ final_calculated_mean_price }}
                </p>
                {% for found_property in found_properties %}
                <p>{{ found_property.street }} {{ found_property.housenumber }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/website_projects/searchAddress.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{google_places_key}}&libraries=places&callback=initAutocomplete"
        async defer>
</script>
{% endblock %}
