{% extends 'website-projects/real-estate-agent/real_estate_base.html' %}
{% load static %}
{% block page_content %}
<div class="container-fluid px-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                {% csrf_token %}
                <div class="d-flex align-items-center justify-content-center" id="searchBarValuation">
                    <input type="text" class="form-control" id="addressSearchBar" name="searchAddressInput">
                </div>
            </div>
            <div class="col-sm-2">
                <div class="d-flex align-items-center justify-content-center" id="searchBarValuation">
                    <label for="filterSubmitButton" class="form-label"></label>
                    <form>
                        <button type="submit" class="btn btn-primary" id="filterSubmitButton"
                                name="searchAddressSubmitButton">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let autocomplete;

    function initAutocomplete () {
        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('addressSearchBar'),
            {
                types: ['address'],
                componentRestrictions: {'country': ['NL']},
                fields: ['formatted_address'],
            });
    }

    window.initAutocomplete = initAutocomplete;















</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{google_places_key}}&libraries=places&callback=initAutocomplete"
        async defer>
</script>
{% endblock %}
