{% extends 'website-projects/real-estate-agent/real_estate_base.html' %}
{% load static %}

{% block page_content %}
<div class="container-fluid bg-light">
    <div class="container">
        <form name="filter_form" method="post" id="cityFilter">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-3">
                    <p>
                        <b>Plaats</b>
                    </p>
                    <div>
                        <a class="">{{ filter_form.city }}</a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <p>
                        <b>Vraagprijs</b>
                    </p>
                    <div class="">
                        <p>
                            {{ filter_form.ask_price }}
                        </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <p>
                        <b>Type object</b>
                    </p>
                    <div class="">
                        <p>
                            {{ filter_form.building_type }}
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="container">
    {% for property in active_properties %}
    <div class="row pt-2 bg-2">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-horizontal">
                    <div class="row">
                        <a href="{% url 'property_detail' property.pk%}" class="stretched-link"></a>
                        <div class="col-sm-6 pt-1">
                            <div class="p-1">
                                <img class="" src="{{ property.thumbnail_photo.url }}" width="460" height="350"/>
                            </div>
                        </div>
                        <div class="col-sm-3 pt-1">
                            <h6>
                                Bouwjaar:
                            </h6>
                            <h6>
                                Type object:
                            </h6>
                        </div>
                        <div class="col-sm-3 pt-1">
                            <p>
                                {{ property.construction_year }}
                            </p>
                            <p>
                                {{ property.get_building_type_display }}
                            </p>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ property.street }} {{ property.housenumber}}</h5>
                        <p class="card-text">This is a wider ctith supporting ta natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
