{% extends "base.html" %}
{% block page_content %}

<div class="container">
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    {% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
    {% endif %}
    <div class="col-lg-4 col-md-4 col-sm-4 container justify-content-center">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-4 text-end">
                    {{ form.username.label_tag }}
                </div>
                <div class="col-4 text-start">
                    {{ form.username }}
                </div>
            </div>
            <div class="row">
                <div class="col-4 pt-2">
                    {{ form.password.label_tag }}
                </div>
                <div class="col-4 pt-2">
                    {{ form.password }}
                </div>
            </div>
            <input type="submit" value="login">
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
        </form>
    </div>
</div>
{% endblock %}
