{% extends 'website-projects/rudolphie-design/rudolphie_base.html' %}
{% load static %}
{% block page_content %}
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <div>
                <p id="homepageRobbieFirstText">
                    Mijn naam is Robbie Rudolphie en ik wil je graag
                    meenemen in mijn passie voor de bouw en ontwerpen.

                </p>
                <p id="homepageRobbieText">
                    Op jonge leeftijd werd ik al bij de bouw betrokken, door de vele zelfstandige ondernemers in mijn
                    familie. Door de diverse specialismes kreeg ik van iedereen wat mee en was het een logische keuze om
                    bouwkunde te gaan studeren. Op jonge leeftijd was ik al graag creatief bezig, zo tekende ik
                    dagelijks en
                    was ik graag bezig met bouwen. Hierbij kwam mijn precisie en perfectionisme naar boven.
                </p>
                <p id="homepageRobbieText">
                    Na het behalen van de Bachelor bouwkunde, ben ik de echte arbeidsmarkt gaan betreden. Na het opdoen
                    van meerdere
                    werkervaringen, heb ik de stap gezet om als ondernemer aan de slag te gaan.

                    Benieuwd naar wat wij voor elkaar kunnen betekenen? Plan dan vooral een afspraak met mij in!
                </p>
                <button class="btn btn-light" id="homepageRobbieButton">Plan een belafspraak</button>
            </div>
        </div>
        <div class="col-sm-5 mt-2 mb-2">
            <img class="img-fluid rounded" id="logoHomepageRd" src="{% static 'img/rd-robbie-placeholder.png' %}" alt="Potrait owner Robbie" />
        </div>
    </div>
</div>
<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-sm-12 text-center bg-dark text-light">
            <h5 class="mt-2" id="dienstenDiv">
                Diensten
            </h5>
        </div>
    </div>
</div>
<div class="container mt-2">
    <div class="row">
        <div class="col-sm-3">
            <div class="card mt-2 mb-2">
                <div class="card-body" id="rdDesignHomepageCard">
                    <h1 class="card-title text-center">
                        <i class="bi bi-file-earmark-text"></i>
                    </h1>
                    <p class="card-text text-center">
                        Vergunningstekeningen
                    </p>
                    <p class="card-text text-center d-none d-lg-block">
                        Samen zoeken wij uit welke benodigde vergunningen moeten worden aangevraagd. Vervolgens worden
                        de vereisde vergunningstekeningen gerealiseerd.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card mt-2 mb-2">
                <div class="card-body" id="rdDesignHomepageCard">
                    <h1 class="card-title text-center">
                        <i class="bi bi-badge-3d"></i>
                    </h1>
                    <p class="card-text text-center">
                        3D Visualisatie
                    </p>
                    <p class="card-text text-center d-none d-lg-block">
                        Om jou een zo goed mogelijk beeld te geven van het uiteindelijke ontwerp, wordt er een 3D
                        visualisatie gemaakt. Dit kan in de vorm zijn van foto's of filmmateriaal.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 text-center">
            <div class="card mt-2 mb-2">
                <div class="card-body" id="rdDesignHomepageCard">
                    <h1 class="card-title text-center">
                        <i class="bi bi-crop"></i>
                    </h1>
                    <p class="card-text text-center">
                        Splitsingstekening
                    </p>
                    <p class="card-text text-center d-none d-lg-block">
                        Bent u van plan een gedeelte van uw vastgoedobject te splitsen, dan zijn hier speciale
                        splitsingstekeningen voor nodig. Deze tekeningen moeten voldoen aan de standaarden van het
                        kadaster, waarin ik mij heb gespecialiseerd.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 text-center">

            <div class="card mt-2 mb-2">
                <div class="card-body" id="rdDesignHomepageCard">
                    <h1 class="card-title text-center">
                        <i class="bi bi-badge-3d"></i>
                    </h1>
                    <p class="card-text text-center">
                        Bouwvergunning
                    </p>
                    <p class="card-text text-center d-none d-lg-block">
                        lorum ipsum lorum ipsumlorum ipsumlorum ipsumlorum ipsumlorum ipsumlorum ipsumlorum ipsum
                        ipsumlorum psumipsumlorum ipsum
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-center bg-dark text-light">
        <h5 class="mt-2">
            Portfolio
        </h5>
    </div>
</div>
<div class="">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" id="sliderHomepage" data-bs-interval="3000">
                <img class="d-block w-100" src="{% static 'img/portfolio-placeholder.png' %}" alt="First slide"/>
            </div>
            <div class="carousel-item" id="sliderHomepage">
                <img class="d-block w-100" src="{% static 'img/portfolio-placeholder2.png'%}" alt="Second slide">
            </div>
            <div class="carousel-item" id="sliderHomepage">
                <img class="d-block w-100" src="{% static 'img/rd-placeholder-4.png' %}" alt="Third slide">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6" id="vergunningsTekeningen">
            <h1 class="card-title text-center">
                <i class="bi bi-file-earmark-text"></i>
            </h1>
            <p class="card-text text-center">
                Vergunningstekeningen
            </p>
            <p>
                Bent u van plan een gedeelte van uw vastgoedobject te splitsen, dan zijn hier speciale splitsingstekeningen voor nodig. Deze tekeningen moeten voldoen aan de standaarden van het kadaster, waarin ik mij heb gespecialiseerd.
            </p>
        </div>
        <div class="col-sm-6">
            <img class="d-block w-100" src="{% static 'img/rd-placeholder-3.png' %}" alt="Third slide">
        </div>
    </div>
</div>
</body>

{% endblock %}
