{% extends 'website-projects/rudolphie-design/rudolphie_base.html' %}
{% load static %}
{% block page_content %}
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <div class="mainTextHomepage">
                <h1><b>Haal het maximale uit je gebouw. <br/> Ontdek de mogelijkheden met Rudolphie Design.</b></h1>
                <h4>
                    Wij zijn een bouwkundig teken- en adviesbureau dat vastgoedondernemers ondersteund bij het uitwerken
                    van hun vastgoedprojecten van ontwerp tot vergunning.
                </h4>
                <div class="row">
                    <div class="col-sm-4 mt-2">
                        <button class="btn btn-primary homepageRobbieButton">Plan een belafspraak</button>
                    </div>
                    <div class="col-sm-4 mt-2">
                        <a class="btn btn-light homepageRobbieButton" href="#dienstenDiv">Bekijk diensten </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5 mt-2 mb-2">
            <img class="img-fluid logoHomepageRd" src="{% static 'img/rd-robbie-placeholder.png' %}"
                 alt="Potrait owner Robbie"/>
        </div>
    </div>
</div>
<div class="container-fluid bg-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center text-dark serviceHomepageRd" id="dienstenDiv">
                <h2 class="mt-2 dienstenDiv">
                    <b>Diensten</b>
                </h2>
                <p class="text-center serviceTextHomepageRd">
                    Om het maximale uit je gebouw te halen bieden wij verschillende diensten aan om de mogelijkheden van
                    jouw gebouw in kaart te brengen.
                </p>
            </div>
        </div>
    </div>
    <div class="container mt-2">
        <div class="row">
            <div class="col-sm-6">
                <div class="card mt-2 mb-2">
                    <div class="card-body rdDesignHomepageCard">
                        <h1 class="card-title text-center">
                            <i class="bi bi-file-earmark-text"></i>
                        </h1>
                        <p class="card-text text-center">
                            Vergunningstekeningen
                        </p>
                        <p class="card-text text-center d-none d-lg-block">
                            Samen zoeken wij uit welke benodigde vergunningen moeten worden aangevraagd. Vervolgens
                            worden
                            de vereisde vergunningstekeningen gerealiseerd.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card mt-2 mb-2">
                    <div class="card-body rdDesignHomepageCard">
                        <h1 class="card-title text-center">
                            <i class="bi bi-badge-3d"></i>
                        </h1>
                        <p class="card-text text-center">
                            3D Visualisatie
                        </p>
                        <p class="card-text text-center d-none d-lg-block">
                            Om jou een zo goed mogelijk beeld te geven van het uiteindelijke ontwerp, wordt er een 3D
                            visualisatie gemaakt. Dit kan in de vorm zijn van foto's of filmmateriaal.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="card mt-2 mb-2">
                    <div class="card-body rdDesignHomepageCard">
                        <h1 class="card-title text-center">
                            <i class="bi bi-crop"></i>
                        </h1>
                        <p class="card-text text-center">
                            Splitsingstekening
                        </p>
                        <p class="card-text text-center d-none d-lg-block">
                            Bent u van plan een gedeelte van uw vastgoedobject te splitsen, dan zijn hier speciale
                            splitsingstekeningen voor nodig. Deze tekeningen moeten voldoen aan de standaarden van het
                            kadaster, waarin ik mij heb gespecialiseerd.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="card mt-2 mb-2">
                    <div class="card-body rdDesignHomepageCard">
                        <h1 class="card-title text-center">
                            <i class="bi bi-badge-3d"></i>
                        </h1>
                        <p class="card-text text-center">
                            Bouwvergunning
                        </p>
                        <p class="card-text text-center d-none d-lg-block">
                            lorum ipsum lorum ipsumlorum ipsumlorum ipsumlorum ipsumlorum ipsumlorum ipsumlorum ipsum
                            ipsumlorum psumipsumlorum ipsum
                        </p>
                    </div>
                </div>
            </div>
            <div  class="serviceSpanHidden">
                <span hidden ></span>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <img class="aboutUsImage img-fluid" src="{% static 'img/stockphoto-2.png' %}"
                 alt="Photo of keychain in hand"/>
        </div>
        <div class="aboutRdDesign col-sm-5">
                <h3><b>Over Rudolphie Design.</b></h3>
                <p>
                    Wij zijn er om de mogelijkheden van jouw gebouw in kaart te brengen, zodat we samen de beste keuzes kunnen maken om het maximale uit je gebouw te halen.
                </p>
                <div class="row">
                    <div class="col-sm-6">
                        <a class="btn btn-light" href="#">Meer over mij</a>
                    </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="">-->
<!--    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">-->
<!--        <div class="carousel-inner">-->
<!--            <div class="carousel-item active" id="sliderHomepage" data-bs-interval="3000">-->
<!--                <img class="d-block w-100" src="{% static 'img/portfolio-placeholder.png' %}" alt="First slide"/>-->
<!--            </div>-->
<!--            <div class="carousel-item" id="sliderHomepage">-->
<!--                <img class="d-block w-100" src="{% static 'img/portfolio-placeholder2.png'%}" alt="Second slide">-->
<!--            </div>-->
<!--            <div class="carousel-item" id="sliderHomepage">-->
<!--                <img class="d-block w-100" src="{% static 'img/rd-placeholder-4.png' %}" alt="Third slide">-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div class="container-fluid bg-light">
    <div class="container">
        <div class="row">
            <div class="clientReviewHomepageRd col-sm-12 text-center text-dark">
                <h2 class="dienstenDiv">
                    <b>Wat klanten over mij zeggen</b>
                </h2>
                <p class="serviceTextHomepageRd text-center">
                    De tevredenheid en het succes van mijn klanten is voor mij erg belangrijk.
                </p>
            </div>
            <div class="col-sm-4">
                <div class="card mt-2 mb-2">
                    <div class="card-body rdDesignHomepageCard">
                        <h5 class="card-text text-center">
                            <b>Klant 1</b>
                        </h5>
                        <p class="card-text text-center">
                            3D impressie
                        </p>
                        <p class="card-text text-center d-none d-lg-block">
                            "lorum ipsum lorum ipsumlorum ipsumlorum ipsumlorum ipsumlorum ipsumlorum ipsumlorum ipsum
                            ipsumlorum psumipsumlorum ipsum"
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card mt-2 mb-2">
                    <div class="card-body rdDesignHomepageCard">
                        <h5 class="card-text text-center">
                            <b>Klant 2</b>
                        </h5>
                        <p class="card-text text-center">
                            Splitsingtekening
                        </p>
                        <p class="card-text text-center d-none d-lg-block">
                            "lorum ipsum lorum ipsumlorum ipsumlorum ipsumlorum ipsumlorum ipsumlorum ipsumlorum ipsum
                            ipsumlorum psumipsumlorum ipsum"
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card mt-2 mb-2">
                    <div class="card-body rdDesignHomepageCard">
                        <h5 class="card-text text-center">
                            <b>Klant 3</b>
                        </h5>
                        <p class="card-text text-center">
                            Bouwvergunning
                        </p>
                        <p class="card-text text-center d-none d-lg-block">
                            "lorum ipsum lorum ipsumlorum ipsumlorum ipsumlorum ipsumlorum ipsumlorum ipsumlorum ipsum
                            ipsumlorum psumipsumlorum ipsum"
                        </p>
                    </div>
                </div>
            </div>
            <div class="serviceSpanHidden">
                <span hidden></span>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-7 contactMeDiv">
            <h3><b>Benieuwd wat ik voor u kan betekenen?</b></h3>
            <p>
                Plan via onderstaande knop een vrijblijvende belafspraak in of stuur mij een berichtje.
            </p>
            <div class="row">
                <div class="col-sm-4 mt-1">
                    <button class="btn btn-primary homepageRobbieButton">Plan een belafspraak</button>
                </div>
                <div class="col-sm-4 mt-1">
                    <a class="btn btn-light homepageRobbieButton" href="#dienstenDiv">Bekijk diensten </a>
                </div>
            </div>
            <div class="serviceSpanHidden">
                <span hidden></span>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}
