{% extends "base.html" %}
{% load static %}

{% block page_content %}
<body>
<div class="container homePageBigBlock">
    <div class="homepageBigNameContainer">
        <h2 class="homepageCardTitle">Raphael <br> Sparenberg </h2>
        <h2 class="ml1">
            <span class="text-wrapper">
            <span class="line line1"></span>
            <span class="letters">&#60;Aspiring programmer from the Netherlands></span>
            <span class="line line2"></span>
            </span>
        </h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-1 fade-in-image-linkedin">
                <a href="https://nl.linkedin.com/in/raphael-sparenberg-637885173" target="_blank"><img
                        class="card-img-top homepageLinkedin" src="{% static 'img/linkedin-logo.png' %}"
                        alt="Card image cap"></a>
            </div>
            <div class="col-1 fade-in-image-github">
                <a href="https://github.com/RSPersonal" target="_blank"><img class="card-img-top homepageGithub"
                                                                             src="{% static 'img/github-logo.png' %}"
                                                                             alt="Card image cap"></a>
            </div>
        </div>
    </div>
</div>
<!--<div class="container mt-2">-->
<!--    <div class="row">-->
<!--        <div class="col-sm text-center">-->
<!--            <h3 class="mt-4">-->
<!--                Raphael Sparenberg-->
<!--            </h3>-->
<!--            <p>-->
<!--                <br/>SENIOR INTERNATIONAL BUSINESS IT-CONSULTANT ZWOLLE, NEDERLAND +31 (0)6 41237152-->
<!--            </p>-->
<!--        </div>-->
<!--        <div class="col-sm-1 text-right">-->
<!--            <a class="btn btn-primary" href="/">EN</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="container">-->
<!--    &lt;!&ndash; Left column &ndash;&gt;-->
<!--    <div class="row">-->
<!--        <div class="col-sm-3 text-center">-->
<!--            <h5><b>PERSONALIA</b></h5>-->
<!--            <p>Zwolle-->
<!--                <br/>Nederland-->
<!--                <br/>+31 (0)*-->
<!--                <br/>*@gmail.com-->
<!--            </p>-->
<!--            <p><b>Geboortedatum/Plaats</b>-->
<!--                <br/>20-01-1992-->
<!--                <br/>Wesel-->
<!--            </p>-->
<!--            <p><b>Nationaliteit</b>-->
<!--                <br/>Nederlands-->
<!--            </p>-->
<!--            <p>-->
<!--                <b>Rijbewijs</b>-->
<!--                <br/>B-->
<!--            </p>-->
<!--            <h5><b>LINKS</b></h5>-->
<!--            <a href="https://nl.linkedin.com/in/raphael-sparenberg-637885173">LinkedIn</a>-->
<!--            <br/>-->
<!--            <a href="https://github.com/RSPersonal">Github</a>-->
<!--            <h5 class="pt-3"><b>VAARDIGHEDEN</b></h5>-->
<!--            <p>-->
<!--                Flexibel-->
<!--                <br/>Ambiteus-->
<!--                <br/>Leergierig-->
<!--                <br/>Analytisch-->
<!--                <br/>Oplossingsgericht-->
<!--                <br/>Sterke arbeidsethos-->
<!--                <br/>Agile en scrum werkwijze-->
<!--            </p>-->
<!--            <h5><b>HOBBY'S</b></h5>-->
<!--            <p>-->
<!--                Hiken-->
<!--                <br/>Sporten-->
<!--                <br/>Tekenen-->
<!--                <br/>Muziek-->
<!--                <br/>Boeken lezen-->
<!--                <br/>Programmeren-->
<!--                <br/>Outdoor activiteiten-->
<!--            </p>-->
<!--            <h5><b>Talen</b></h5>-->
<!--            <p>-->
<!--                Nederlands-->
<!--                <br/>Duits-->
<!--                <br/>Engels-->
<!--            </p>-->
<!--        </div>-->
<!--        &lt;!&ndash; Middle column &ndash;&gt;-->
<!--        &lt;!&ndash; Right column &ndash;&gt;-->
<!--        <div class="col-sm text-left">-->
<!--            <h5><b><i class="bi bi-file-person pe-1"></i>PROFIEL</b></h5>-->
<!--            {% for profile_post in profile_posts %}-->
<!--            <p>{{ profile_post.post }}</p>-->
<!--            {% endfor %}-->
<!--            <h5><b><i class="bi bi-pencil-square pe-1"></i>WERKERVARING</b></h5>-->
<!--            <p>-->
<!--                <b>Senior International Business IT-Consultant, KATE Innovations B.V., Utrecht</b>-->
<!--                <br/>november 2020- tot Heden-->
<!--            <ul>-->
<!--                <li>Projectmanagement internationaal</li>-->
<!--                <li>Training van software</li>-->
<!--                <li>Implementeren en managen van complexe software oplossingen</li>-->
<!--                <li>Vertalen van business cases naar technische features/oplossingen</li>-->
<!--            </ul>-->
<!--            </p>-->
<!--            <p>-->
<!--                <b>Business Development & Portfolio Manager, RdB Real Estate GmbH, Essen (DE) & Meppel (NL)</b>-->
<!--                <br/>januari 2018 - oktober 2020-->
<!--            </p>-->
<!--            <p>-->
<!--                Volledig managen van het Nederlands Portfolio en het beheer van de Duitse vastgoedtak-->
<!--                professionaliseren. Tevens projectleider van diverse projecten in zowel vastgoed-->
<!--                ontwikkeling, als IT projecten.-->
<!--            </p>-->
<!--            <p>-->
<!--                <b>Beheer Nederland & Risicomanager, RdB Real Estate GmbH, Essen (DE) & Meppel (NL)</b>-->
<!--                <br/>januari 2015 — december 2017-->
<!--            </p>-->
<!--            <p>-->
<!--                Verantwoordelijk voor het analyseren en beleggen in diverse instrumenten waaronder-->
<!--                aandelen, obligaties en derivaten. Daarnaast objectanalyses uitgevoerd voor zowel de-->
<!--                Duitse vastgoed tak als de Nederlandse vastgoed tak van RdB Real Estate. Vanuit deze-->
<!--                analyses advies uitgebracht naar de directie.-->
<!--            </p>-->
<!--            <div class="row">-->
<!--                <div class="col-sm-8 text-left">-->
<!--                    <h5><b><i class="bi bi-book-half pe-1"></i>OPLEIDING & TECHNISCH</b></h5>-->
<!--                    <p>-->
<!--                        <b>Crash course PHP programmeren, KATE Innovations, Utrecht</b>-->
<!--                        <br/>december 2020 — maart 2021-->
<!--                    </p>-->
<!--                    <p>-->
<!--                        Crash course programmeren in PHP.-->
<!--                        <br/>Onderwerpen:-->
<!--                    <ul>-->
<!--                        <li>OOP (Object oriented programming)</li>-->
<!--                        <li>PHP Basics (Syntax)</li>-->
<!--                        <li>SQL</li>-->
<!--                        <li>GIT version control</li>-->
<!--                    </ul>-->
<!--                    </p>-->
<!--                    <p>-->
<!--                        <b>Basistheorie Vastgoeddeskundige (Avondopleiding), Windesheim , Zwolle</b>-->
<!--                        <br/>januari 2019 — oktober 2020-->
<!--                    </p>-->
<!--                    <p>-->
<!--                        <b>Sociaal Agogisch Medewerker , Deltion College, Zwolle</b>-->
<!--                        <br/>september 2012 — januari 2015-->
<!--                    </p>-->
<!--                    <p>-->
<!--                        <b>VeVa Grondoptreden, Opleidings Centrum Korps Mariniers , Rotterdam</b>-->
<!--                        <br/>september 2009 — juli 2011-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="col-sm-1 text-center">-->
<!--                    <h6><b>BACKEND</b></h6>-->
<!--                    <p>-->
<!--                        <a href="https://www.php.net/" target="_blank" rel="noreferrer"> <img-->
<!--                                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/php/php-original.svg"-->
<!--                                alt="php" width="45" height="45"/> </a>-->
<!--                        <br/><a href="https://www.python.org" target="_blank" rel="noreferrer"> <img-->
<!--                            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg"-->
<!--                            alt="python" width="45" height="45"/> </a>-->

<!--                        <br/><a href="https://www.postgresql.org" target="_blank" rel="noreferrer"> <img-->
<!--                            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-original-wordmark.svg"-->
<!--                            alt="postgresql" width="45" height="45"/> </a>-->
<!--                        <br/><a href="https://www.mysql.com/" target="_blank" rel="noreferrer"> <img-->
<!--                            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original-wordmark.svg"-->
<!--                            alt="mysql" width="45" height="45"/> </a>-->
<!--                        <br/><a href="https://www.djangoproject.com/" target="_blank" rel="noreferrer"> <img-->
<!--                            src="https://cdn.worldvectorlogo.com/logos/django.svg" alt="django" width="45"-->
<!--                            height="45"/> </a>-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="col-sm-1 text-center">-->
<!--                    <h6><b>FRONTEND</b></h6>-->
<!--                    <p>-->
<!--                        <a href="https://www.w3.org/html/" target="_blank" rel="noreferrer"> <img-->
<!--                                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg"-->
<!--                                alt="html5" width="45" height="45"/> </a>-->
<!--                        <br/><a href="https://getbootstrap.com" target="_blank" rel="noreferrer"> <img-->
<!--                            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg"-->
<!--                            alt="bootstrap" width="45" height="45"/> </a>-->
<!--                        <br/> <a href="https://www.w3schools.com/css/" target="_blank" rel="noreferrer"> <img-->
<!--                            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg"-->
<!--                            alt="css3" width="45" height="45"/> </a>-->
<!--                        <br/><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank"-->
<!--                                rel="noreferrer"> <img-->
<!--                            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg"-->
<!--                            alt="javascript" width="45" height="45"/></a>-->
<!--                        <br/><a href="https://www.chartjs.org" target="_blank" rel="noreferrer"><img-->
<!--                            src="https://www.chartjs.org/media/logo-title.svg" alt="chartjs" width="45"-->
<!--                            height="45"/> </a>-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="col-sm-1 text-center">-->
<!--                    <h6><b>VERSION</b></h6>-->
<!--                    <p>-->
<!--                        <a href="https://www.git.com" target="_blank" rel="noreferrer"> <img-->
<!--                                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/git/git-original-wordmark.svg"-->
<!--                                alt="html5" width="45" height="45"/> </a>-->
<!--                        <br/><a href="https://bitbucket.org/" target="_blank" rel="noreferrer"> <img-->
<!--                            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bitbucket/bitbucket-original-wordmark.svg"-->
<!--                            alt="bitbucket" width="45" height="45"/> </a>-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <h5><b>CURSUSSEN</b></h5>-->
<!--            <p>-->
<!--                <b>Crash course PHP programmeren, KATE Innovations, Utrecht</b>-->
<!--                <br/>december 2020 — maart 2021-->
<!--            </p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script type="text/javascript" src="{% static 'js/homepageLetters.js' %}"></script>
{% endblock %}
