{% extends 'base.html' %}
{% block page_content %}
<body>
<div class="container">
    <div class="col md-7">
        <div class="card mb-2">
            <div class="card-body">
                <h1 class="card-title">Stock tracker</h1>
                <p class="card-text"></p>
                <a class="btn btn-primary" href="accounts/login">Login</a>
            </div>
        </div>
        <div class="col">
            <div class="card mb-2">
                <div class="card-body">
                    <h1 class="card-title"></h1>
                    <p></p>
                    <a class="btn btn-primary" href="">Go to </a>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
{% endblock %}