{% extends 'base.html' %}
{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h2>{{ portfolio.portfolio_name }}</h2>
        </div>
        <div class="col-2">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_position_modal">
                Add position
            </button>
            <!-- Modal for adding position -->
            <div class="modal fade" id="add_position_modal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{ portfolio_name }}</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-4">
                                    <p>
                                        Stock ticker:
                                    </p>
                                    <p class="pt-2">
                                        Buy price:
                                    </p>
                                    <p class="pt-2">
                                        Quantity:
                                    </p>
                                    <p class="pt-2">
                                        Market:
                                    </p>
                                </div>
                                <div class="col-4">
                                    <form name="position_form" method="POST">
                                        {% csrf_token %}
                                        <p>
                                            {{ position_form.ticker_name }}
                                        </p>
                                        <p>
                                            {{ position_form.buy_price }}
                                        </p>
                                        <p>
                                            {{ position_form.quantity }}
                                        </p>
                                        <p>
                                            {{ position_form.market }}
                                        </p>
                                        <div class="modal-footer">
                                            {% csrf_token %}
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                No
                                            </button>
                                            <input class="btn btn-primary" type="submit" value="Yes"/>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#portfolio_label">
                Delete portfolio
            </button>

            <!-- Modal for deleting the portfolio -->

            <div class="modal fade" id="portfolio_label" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="portfolio_label_modal_label">{{ portfolio_name }}</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form name="portfolio_form" method="POST">
                                {% csrf_token %}
                                <p>
                                    Are you sure you want to delete the portfolio?
                                </p>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No
                                    </button>
                                    <input class="btn btn-primary" name="delete_button" type="submit" value="Yes">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Stock ticker</th>
                    <th scope="col">Price bought</th>
                    <th scope="col" class="text-center">Current market price</th>
                    <th scope="col">Market</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Profit</th>
                    <th scope="col">Profit in %</th>
                </tr>
                </thead>
                <tbody>
                {% for position in positions %}
                <tr>
                    <td>{{ position.ticker_name }}</td>
                    <td class="text-end">{{ position.buy_price }}</td>
                    <td class="text-end">{{ position.current_market_price }}</td>
                    <td>{{ position.market }}</td>
                    <td class="text-end">{{ position.quantity }}</td>
                    <td class="text-end">{{ position.profit }}</td>
                    <td class="text-end">{{ position.profit_in_percentage }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}