{% extends 'base.html' %}
{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col-4">
            <h2>Section 1</h2>
            <p>{{ portfolio.ticker_name }}
                <br>{{ portfolio.type }}
                <br>{{ portfolio.buy_price }}
                <br>{{ portfolio.market }}
            </p>
        </div>
        <div class="col-4">
            <h2>Section 2</h2>
            <p>
            </p>
        </div>
        <div class="col-4">
            <h2>Section 3</h2>
        </div>
    </div>
</div>
{% endblock %}