{% extends 'base.html' %}
{% block page_content %}
<body>
<div class="container">
    <div class="col md-7">
        <div class="card mb-2">
            <div class="card-body">
                <h1 class="card-title">
                    GEO API
                </h1>
                <p class="card-text">Its' a powerful, real-time IP to geolocation API capable of looking up accurate
                    location data and
                    assessing
                    security threats originating from risky IP addresses. </p>
                <a class="btn btn-primary" href="geo-api/get-ip">Go to Geo api</a>
            </div>
        </div>
        <div class="col">
            <div class="card mb-2">
                <div class="card-body">
                    <h1 class="card-title">Currency converter</h1>
                    <p>Convert user input from one currency to another</p>
                    <a class="btn btn-primary" href="currency-converter">Go to currency converter</a>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
{% endblock %}