{% extends 'base.html' %}
{% block page_content %}
<body>
    <div class="container">
        <h1>
            GEO API
        </h1>
        <form method="POST" action="">
            {% csrf_token %}
            <input type="text" name="username">
            <input type="submit" name="submit">
    </form>
    {% if status == 'failed' %}
        <p>Something went wrong with {{ data.message }}</p>
    {% else %}
        <p>Your ip address is {{ ip }} and you are probably in {{ country_name }}</p>
    {% endif %}
</body>
</div>
{% endblock %}