{% extends 'base.html' %}
{% block page_content %}
<body>
    <div class="container">
        <h1>
            GEO API
        </h1>
        <p>Its' a powerful, real-time IP to geolocation API capable of looking up accurate location data and assessing security threats originating from risky IP addresses. </p>
        <form method="POST" action="">
            {% csrf_token %}
            <input type="text" name="ip-address" >
            <input type="submit" name="submit" class="btn btn-light">
    </form>
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
    {% if status == 'failed' %}
        <p>Something went wrong with {{ data.message }}</p>
    {% else %}
    <ul>
        <li>Your ip = {{ ip }}</li>
        <li>Country location = {{ country_name }}</li>
    </ul>
    {% endif %}
</body>
</div>
{% endblock %}