<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="keywords" content="">
  <title>{% block title %}Homepage{% endblock %}</title>
	<!-- Stylesheets -->
  {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet"  href="{%  static  'css/style.css'  %}">
</head>

<!-- Navigation -->
<header class="">
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
      <div class="container-fluid justify-content-between">
        <a class="text-dark" href="/">Home</a>
        <a class="text-dark" href="/aboutme">About me</a>
        <a class="text-dark" href="/projects">Projects</a>
        <!-- <a class="text-dark" href="/blog">Blog</a> -->
        <a class="text-dark" href="/api_examples">API examples</a>
        <a class="text-dark" href="/contact">Contact</a>
        <a class="text-dark" href="/accounts/login">Login</a>
    </div>
  </nav>
</header>

<!-- Main content for every page -->
{% block page_content %}
  

{% endblock %}

<!-- footer -->
<footer>
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-12">
        <h3 class="footer-text">
          © Copyright owned by Raphael Sparenberg
        </h3>
      </div>
    </div>
  </div>
</footer>
</html>