.img-text {
	top: 15vh;
	width:400px;
    position: absolute;
    background-color: #f2f2f2;
    display:flex;
}

.card-img-top {
width: 100%;
height: 40vh;
object-fit: cover;
}

.priceRangeDropdownFilter {
    max-height: 280px;
    overflow-y: auto;
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

#realEstateCard {
    height: 240px;
}

#realEstateHomePageImg {
    max-height: 50vh;
    overflow: hidden;
}

#realEstateSaleService{
    max-height: 40vh;
    overflow: hidden;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 55% 100%, 0 0);
}

#outline: 1px solid blue
