* {
    font-family: 'Roboto', sans-serif;
}*

.rdDesignHomepageCard {
    height: 250px;
}

.vergunningsTekeningen {
    margin-top: 50px;
}

@media only screen and (min-width: 992px) {
    .homepageRobbieFirstText {
        width: 450px;
        margin-left: 80px;
        margin-top: 100px;
    }

    .aboutUsImage {
        border-radius: 25px;
        height: auto;
        width: 700px;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .aboutRdDesign {
        margin-top: 150px;
    }

    .homepageRobbieText{
        width: 450px;
        margin-left: 80px;
    }

    .homepageRobbieButton {
        width: 210px;
        height: auto;
    }

    .serviceTextHomepageRd {
        justify-content: center;
        max-width: 400px;
        margin: auto;x
    }

    .serviceHomepageRd {
        margin-top: 100px;
    }

    .clientReviewHomepageRd {
        margin-top: 100px;
    }

   .contactFooter {
        font-size: 18px;
   }

   .iconsFooter {

    }

   .navigationFooter {
        margin-top: 100px;
   }

   .contactAllFooter {
        margin-top: 100px;
   }

    .linkedInFooter {
        width: 30px;
        height: auto;
    }

    .instaLogoFooter {
        width: 28px;
        height: auto;
    }

    .serviceSpanHidden{
        margin-bottom: 100px;
    }

    .mainTextHomepage {
        margin-top: 32vh;
        margin-bottom: 580px;
    }

    .logoHomepageRd {
        margin-top: 12vh;
        border-radius: 5%;
    }

    .sliderHomepage {
        height: 880px;
    }

    .contactMeDiv {
        margin-top: 100px;
        margin-left: 200px;
    }
}


@media only screen and (max-width: 992px) {
    .mainTextHomepage {
        margin-top: 40px;
    }

    .logoHomeScreenRd {
        margin: auto;
    }

    .mainTextHomePageMobileH1 {
        font-size: 24px;
    }

    .mainTextHomePageMobileH4 {
        font-size: 18px;
    }

    .rdDesignHomepageCard {
        height: 130px;
    }

    .buttonsRowHomepage {
        margin-bottom: 10px;
    }

    .aboutRdDesign {
        margin-top: 40px;
        margin-bottom: 10px;
    }
    .homepageRdH3 {
        font-size: 24px;
    }

    .contactFooterMain {
        text-align: center;
    }

    .contactMeDiv {
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .contactAllFooter {
        margin-top: 40px;
    }

    .dienstenDiv {
        margin-top: 40px;
    }
    .serviceHomepageRd {
        margin-top: 30px;
    }
    .homepageRobbieFirstText {
        margin-top: 30px;
    }

    .navBarBrand {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .sliderHomepage {
        height: 150px;
    }
}
