* {
    outline-offset: -1px;
    font-family: roboto;
    font-size: 13px;
}*

.technicalHeader {
    font-size: 8px;
}

.loginDiv {
    margin-top: 20vh;
    width: 500px;
}

.stockTable {
    margin-top: 40px;
}

.leftCardPortfolioDetail{
    height: 200px;
}

.portfolioDetailsKpiCard{
    height: 100px;
    margin-top: 10px;
}

.dailyReturnPercentage {
    text-align: right;
}

@media only screen and (min-width: 992px) {
    * {
    outline-offset: -1px;
    font-family: roboto;
    font-size: 13px;
    }*

    .technicalHeader {
        font-size: 8px;
    }

    .loginDiv {
        margin-top: 20vh;
        width: 500px;
    }

    .portfolioDetailsKpiCard {
        margin-top: 20px;
        height: 100px;
        align-items: left;
    }

    .stockTable {
        margin-top: 40px;
    }

    .leftCardPortfolioDetail, .rightCardPortfolioDetailCharts{
    }

    .portfolioMainCards {
        margin-top: 20px;
    }

    .dailyReturnPercentage {
        text-align: center;
        align-items: center;
        margin: auto;
    }
}